<!-- <script src="{{ url_for('static', filename='js/sensor_log.js') }}"></script> -->
<div>
        <!-- Search Form -->
        <div>
            <h1>Action History</h1>
            <div class="search-form">
                <input type="text" id="deviceName" placeholder="Search by Device Name" oninput="filterLogs()">
                <button type="button" onclick="searchLogs()">Search</button>
                <select id="perPageSelect" class="select-logs-per-page" onchange="updatePerPage()">
                    <option value="10">10 logs/page</option>
                    <option value="15">15 logs/page</option>
                    <option value="20">20 logs/page</option>
                </select>
            </div>
        </div>

        <table id="log-table">
            <thead>
                <tr>
                    <th onclick="sortTable('Id')">ID</th>
                    <th onclick="sortTable('Device')">timestamp</th>
                    <th onclick="sortTable('Operation')">light level</th>
                    <th onclick="sortTable('Status')">humidity</th>
                    <th onclick="sortTable('Timestamp')">temperature</th>
                </tr>
            </thead>
            <tbody id="hlogTableBody">
                <!-- Nội dung bảng sẽ được thêm bởi JavaScript -->
            </tbody>
        </table>

        <!-- Pagination -->
        <div id="pagination"></div>
</div>