<div>
    <!-- Action Logs Header and Controls -->
    <h1>Action Logs</h1>
    <div class="search-form">
        <!-- Date Range Picker -->
        <label for="actionStartDate"><b>From</b></label>
        <input type="date" id="actionStartDate" placeholder="Start Date">
        <label for="actionEndDate"><b>To</b></label>
        <input type="date" id="actionEndDate" placeholder="End Date">
        <button type="button" id="actionSortToggle" onclick="toggleActionSortOrder()">Latest</button>
        <button type="button" id="actionRT" onclick="toggleActionRealTime()">Toggle RT</button>

        <!-- General Search -->
        <input type="text" id="actionTopicName" placeholder="Number of records">
        <button type="button" onclick="queryActionFromDB()">Search</button>
        <select id="actionLogsPerPageSelect" class="select-logs-per-page" onchange="changedActionLogPerPage()">
            <option value="10">10 logs/page</option>
            <option value="15">15 logs/page</option>
            <option value="20">20 logs/page</option>
        </select>
    </div>

    <div><h3>Filter in Database</h3></div>

    <div class="filter-container">
        <div class="filter-box">
            <label for="id-query-db-box"><b>ID</b></label>
            <input type="text" class="column-filter query-db-box" id="action-id-query-db-box" placeholder="Search ID">
        </div>
        <div class="filter-box">
            <label for="timestamp-query-db-box"><b>Timestamp</b></label>
            <input type="text" class="column-filter query-db-box" id="action-timestamp-query-db-box" placeholder="Search Timestamp">
        </div>
        <div class="filter-box">
            <label for="topic-query-db-box"><b>Topic</b></label>
            <input type="text" class="column-filter query-db-box" id="action-topic-query-db-box" placeholder="Search Topic">
        </div>
        <div class="filter-box">
            <label for="command-query-db-box"><b>Command</b></label>
            <input type="text" class="column-filter query-db-box" id="action-command-query-db-box" placeholder="Search Command">
        </div>
        <div class="filter-box">
            <label for="status-query-db-box"><b>Status</b></label>
            <input type="text" class="column-filter query-db-box" id="action-status-query-db-box" placeholder="Search Status">
        </div>
    </div>

    <div id="actionPagination"></div>
    <div><button type="button" onclick="clearActionFilter()">clear filter</button></div>
    <table id="actionLogTable">
        <thead>
            <tr>
                <th>ID 
                    <button class="sort-btn" onclick="sortActionLogTable('id')">⏳</button>
                    <input type="text" class="column-filter" id="action-filter-id" placeholder="Search ID" oninput="applyAllActionFilters()">
                </th>
                <th>Timestamp 
                    <button class="sort-btn" onclick="sortActionLogTable('timestamp')">⏳</button>
                    <input type="text" class="column-filter" id="action-filter-timestamp" placeholder="Search Timestamp" oninput="applyAllActionFilters()">
                </th>
                <th>Topic 
                    <button class="sort-btn" onclick="sortActionLogTable('topic')">⏳</button>
                    <input type="text" class="column-filter" id="action-filter-topic" placeholder="Search Topic" oninput="applyAllActionFilters()">
                </th>
                <th>Command 
                    <button class="sort-btn" onclick="sortActionLogTable('command')">⏳</button>
                    <input type="text" class="column-filter" id="action-filter-command" placeholder="Search Command" oninput="applyAllActionFilters()">
                </th>
                <th>Status 
                    <button class="sort-btn" onclick="sortActionLogTable('status')">⏳</button>
                    <input type="text" class="column-filter" id="action-filter-status" placeholder="Search Status" oninput="applyAllActionFilters()">
                </th>
            </tr>
        </thead>
        <tbody id="actionLogTableBody">
            <!-- Content will be generated dynamically -->
        </tbody>
    </table>
</div>
