<h1 id="bai5">Bai 5</h1>


<!-- Lower Section: Graph and Switches -->
 <div class="lower-section">
    <!-- Right Section: Alert Section -->
    <div class="box-wind" id="wind-sensor-box">
        <img src="..\static\img\wind_icon.png" alt="Fan" id="fan-image" class="device-image">
        <h3>Wind Speed:</h3>
        <h1 id="wind-sensor">20</h1>
        <h3>km/h</h3>
        <h4>Wind speed, or wind flow speed, is a fundamental atmospheric quantity caused by air moving from high to low pressure, usually due to changes in temperature.</h4>
    </div>

    <!-- Left Section: Large Graph -->
    <div class="chart-container2">
        <canvas id="satisfaction-chart2"></canvas>
    </div>

    <div class="box-alert" id="alert-box">
        <div id="alert-content" class="alert-content"></div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>