<div>
    <!-- Search Form -->
    <div>
        <h1>Data Sensor</h1>
    </div>
    <div>
        <div class="search-form">
            <!-- Date Range Picker -->
            <label for="sensorStartDate"><b>From</b></label>
            <input type="date" id="sensorStartDate" placeholder="Start Date">
            <label for="sensorEndDate"><b>To</b></label>
            <input type="date" id="sensorEndDate" placeholder="End Date">
            <button type="button" id="sortToggle" onclick="toggleSensorSortOrder()">Latest</button>
            <button type="button" id="sensorRT" onclick="toggleSensorRealTime()">Toggle RT</button>

            <!-- General Search -->
            <input type="text" id="sensorTopicName" placeholder="Number of records">
            <button type="button" onclick="querySensorFromDB()">Search</button>
            <select id="sensorLogsPerPageSelect" class="select-logs-per-page" onchange="changedLogPerPage()">
                <option value="10">10 logs/page</option>
                <option value="15">15 logs/page</option>
                <option value="20">20 logs/page</option>
            </select>
        </div>
    </div>

    <div><h3>Filter in Database</h3></div>

    <div class="filter-container">
        <div class="filter-box">
            <label for="id-query-db-box"><b>ID</b></label>
            <input type="text" class="column-filter query-db-box" id="id-query-db-box" placeholder="Search ID">
        </div>
        <div class="filter-box">
            <label for="timestamp-query-db-box"><b>Timestamp</b></label>
            <input type="text" class="column-filter query-db-box" id="timestamp-query-db-box" placeholder="Search Timestamp">
        </div>
        <div class="filter-box">
            <label for="light-level-query-db-box"><b>Light Level</b></label>
            <input type="text" class="column-filter query-db-box" id="light-level-query-db-box" placeholder="Search Light Level">
        </div>
        <div class="filter-box">
            <label for="temperature-query-db-box"><b>Humidity</b></label>
            <input type="text" class="column-filter query-db-box" id="humidity-query-db-box" placeholder="Search Humidity">
        </div>
        <div class="filter-box">
            <label for="temperature-query-db-box"><b>Temperature</b></label>
            <input type="text" class="column-filter query-db-box" id="temperature-query-db-box" placeholder="Search Temperature">
        </div>
    </div>

    <div id="sensorPagination"></div>
    <div><button type="button" onclick="clearSensorFilter()">clear filter</button></div>

    <table id="sensorLogTable">
        <thead>
            <tr>
                <th>ID 
                    <button class="sort-btn" onclick="sortSensorLogTable('id')">⏳</button>
                    <!-- <button class="filter-btn" onclick="showSensorFilterBox('id')">🔍</button> -->
                    <input type="text"  class="column-filter" id="sensor-filter-id" placeholder="Search ID" oninput="applyAllFilters()">
                </th>
                <th>Timestamp 
                    <button class="sort-btn" onclick="sortSensorLogTable('timestamp')">⏳</button>
                    <!-- <button class="filter-btn" onclick="showSensorFilterBox('timestamp')">🔍</button> -->
                    <input type="text"  class="column-filter" id="sensor-filter-timestamp" placeholder="Search Timestamp" oninput="applyAllFilters()">
                </th>
                <th>Light Level 
                    <button class="sort-btn" onclick="sortSensorLogTable('light_level')">⏳</button>
                    <!-- <button class="filter-btn" onclick="showSensorFilterBox('light-level')">🔍</button> -->
                    <input type="text"  class="column-filter" id="sensor-filter-light-level" placeholder="Search Light Level" oninput="applyAllFilters()">
                </th>
                <th>Humidity 
                    <button class="sort-btn" onclick="sortSensorLogTable('humidity')">⏳</button>
                    <!-- <button class="filter-btn" onclick="showSensorFilterBox('humidity')">🔍</button> -->
                    <input type="text"  class="column-filter" id="sensor-filter-humidity" placeholder="Search Humidity" oninput="applyAllFilters()">
                </th>
                <th>Temperature 
                    <button class="sort-btn" onclick="sortSensorLogTable('temperature')">⏳</button>
                    <!-- <button class="filter-btn" onclick="showSensorFilterBox('temperature')">🔍</button> -->
                    <input type="text"  class="column-filter" id="sensor-filter-temperature" placeholder="Search Temperature" oninput="applyAllFilters()">
                </th>
            </tr>
        </thead>
        <tbody id="sensorLogTableBody">
            <!-- Content will be generated dynamically -->
        </tbody>
    </table>

    <!-- Pagination -->
</div>
