<div class="profile-container">
    <div class="profile-card">
        <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-picture">
        <div class="profile-info">
            <h2>Manh Dao Xuan</h2>
            <p>Email: manhdaoxuan2808@gmail.com</p>
            <p>Phone: 0123456789</p>
            <!-- <button class="profile-button">Edit Profile</button> -->
        </div>
    </div>
    <div class="account-info">
        <h2>Account Details</h2>
        <p>Account Number: 1234 5678 9012 3456</p>
        <p>Status: Active</p>
        <button class="account-button">Block Account</button>
    </div>
    <div class="billing-info">
        <h2>Contact</h2>
        <ul>
            <li>Github: <a href="https://github.com/vstxckr/Nhap-mon-IoT">link</a></li>
            <li>Facebook: <a href="https://facebook.com/vstxckr">link</a></li>
            <li>API Docs: <a href="localhost:5002/swagger">link</a></li>
        </ul>
        <button class="billing-button">View All Bills</button>
    </div>
</div>

<!-- <div class="api-doc">
</div> -->
